name: Deploy Firebase Functions

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy-functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy Functions
        uses: w9jds/firebase-action@v13.24.0
        with:
          args: deploy --only functions --project yt-feed-hub
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_YT_FEED_HUB }}
